trigger:
  paths:
    exclude:
    - README.md
    - CHANGES.md
    - CONTRIBUTING.md
    # add more exclude rules, e.g. .ci, .dev, .github

pr:
  paths:
    exclude:
    - README.md
    - CHANGES.md
    - CONTRIBUTING.md
    # add more exclude rules, e.g. .ci, .dev, .github

resources:
  containers:
    - container: fmt # for formatting.yaml
      image: pointcloudlibrary/fmt

stages:
  - stage: formatting
    displayName: Formatting
    jobs:
      - template: formatting.yaml

  - stage: diff
    displayName: Code Changes Diff
    jobs:
      - job: codeDiff
        displayName: Code Diff
        pool:
          vmImage: 'ubuntu-latest'
        steps:
          - checkout: self
            fetchDepth: 10
          - script: |
              cd $(Build.SourcesDirectory)
              # git remote add upstream https://github.com/ueqri/pcl.git
              # git fetch upstream
              cat .git/config
              echo "##vso[task.setvariable variable=HasCodeChanges;isOutput=true]false"
              #git diff --quiet HEAD $(git merge-base HEAD test-CI-features) --  ':(exclude)doc' ':(exclude)*.md' || \
              echo "##vso[task.setvariable variable=HasCodeChanges;isOutput=true]true"
              #echo `git diff HEAD...test-CI-features`
            name: GitResult

  - stage: documentation
    displayName: Goto Documentation
    dependsOn: diff
    condition: and(succeeded(), eq(dependencies.diff.outputs['CodeDiff.GitResult.HasCodeChanges'], 'false'))
    jobs:
      - job: prompt
        displayName: Simple Prompt
        pool:
          vmImage: 'ubuntu-latest'
        steps:
          - script: echo Trigger docs-pipeline.yaml...

  - stage: build
    displayName: Goto Build
    dependsOn: diff
    condition: and(succeeded(), eq(dependencies.diff.outputs['CodeDiff.GitResult.HasCodeChanges'], 'true'))
    jobs:
      - job: prompt
        displayName: Simple Prompt
        pool:
          vmImage: 'ubuntu-latest'
        steps:
          - script: echo Trigger build-pipeline.yaml...
