trigger:
  paths:
    exclude:
    - README.md
    - CHANGES.md
    - CONTRIBUTING.md
    # add more exclude rules, e.g. .ci, .dev, .github

pr:
  paths:
    exclude:
    - README.md
    - CHANGES.md
    - CONTRIBUTING.md
    # add more exclude rules, e.g. .ci, .dev, .github

resources:
  containers:
    - container: fmt # for formatting.yaml
      image: pointcloudlibrary/fmt

stages:
  - stage: formatting
    displayName: Formatting
    jobs:
      - template: formatting.yaml

  - stage: diff
    displayName: Code Changes Diff
    jobs:
      - job: CodeDiff
        pool:
          vmImage: 'ubuntu-latest'
        steps:
          - checkout: self
            fetchDepth: 10
          - script: |
              echo "##vso[task.setvariable variable=HasCodeChanges;isOutput=true]false"
              git diff --quiet HEAD master --  ':(exclude)doc' ':(exclude)*.md' || \
              echo "##vso[task.setvariable variable=HasCodeChanges;isOutput=true]true"
            name: GitResult

  - stage: documentation
    displayName: Goto Documentation
    dependsOn: diff
    condition: and(succeeded(), eq(dependencies.diff.outputs['CodeDiff.GitResult.HasCodeChanges'], 'false'))
    jobs:
      - job: simplePrompt
        pool:
          vmImage: 'ubuntu-latest'
        steps:
          - script: echo Trigger docs-pipeline.yaml...

  - stage: build
    displayName: Goto Build
    dependsOn: diff
    condition: and(succeeded(), eq(dependencies.diff.outputs['CodeDiff.GitResult.HasCodeChanges'], 'true'))
    jobs:
      - job: simplePrompt
        pool:
          vmImage: 'ubuntu-latest'
        steps:
          - script: echo Trigger build-pipeline.yaml...
