trigger: none

pr: none

resources:
  pipelines:
    - pipeline: Main-CI
      source: Main
      trigger:
        stages:
        - documentation
    - pipeline: Build-CI
      source: Build
      trigger:
        stages:
        - build_gcc
  containers:
    - container: fmt # for formatting.yaml
      image: pointcloudlibrary/fmt
    - container: doc # for documentation.yaml
      image: pointcloudlibrary/doc
    - container: env1804 # for tutorials.yaml
      image: pointcloudlibrary/env:18.04

stages:
  - stage: documentation
    displayName: Documentation
    jobs:
    - job: documentation
      displayName: Generate Documentation
      pool:
        vmImage: 'Ubuntu 20.04'
      container: doc
      steps:
        - script: echo $(System.JobDisplayName) successfully done! ID, $(Build.TriggeredBy.DefinitionId), Name, $(Build.TriggeredBy.DefinitionName)

  - stage: tutorials
    displayName: Tutorials
    dependsOn: documentation
    jobs:
      - template: tutorials.yaml
